ul{list-style-type:none;margin:0;padding-right:0}h2{margin:0}p{margin:0}button,hr,input{overflow:visible}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:0}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}[hidden],template{display:none}


@font-face {
    font-family: 'SegoeUI';
    src: url(segoe-ui-regular.ttf);
}

@font-face {
    font-family: 'SegoeUI-Semibold';
    src: url(segoe-ui-semibold.ttf);
}

@font-face {
    font-family: 'SegoeUI-bold';
    src: url(segoe-ui-bold.ttf);
}


html {
    -webkit-font-smoothing: antialiased;
}
.cw{
    color: white;
}
.pb1{
    padding-bottom: 30px;
}
.pt1{
    padding-top: 42px
}
.pt2{
    padding-top: 80px
}
.ptb{
    padding-top: 43px;
    padding-bottom: 43px;
}    
.pt4{
    padding-top: 33px;
}
.pt5{
    padding-top: 50px;
}
.mtb1{
    margin-top: 10px;
    margin-bottom: 10px;
}

.fr{
    font-family: 'SegoeUI';
    font-weight: 100
}
.fb{
    font-family: 'SegoeUI-Semibold';
}
.fb1{
    font-family: 'SegoeUI-bold';
    vertical-align: top;
}
.lh1{
    line-height: 1.7;
}
.lh2{
    line-height: 1.68;
}
.bcw{
    background-color: white;
}
.m0a {
    margin: 0 auto;
    max-width: 1366px;    
}
.cg{
    color: #20acb0;
}

.co{
    color: #ef7f35;
}
.lihome1{
    padding-right: 30px;
}
.lihome{
    display: flex;
}
.lihome p{
    padding-right: 20px;
    min-width: 0;
}
.blhome:after{
    margin-bottom: 20px;
    margin-top: 37px;
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    border-bottom: 2px solid #92cbc5;
}
.blhome1:after{
    width: 172px;
}
.blhome2:after{
    width: 378px;
}
.blhome3:after{
    width: 90%;
}

.hg{
  font-family: SegoeUI-Semibold;
  font-size: 27px;
  font-weight: 500;
  color: #92cbc5;    
}
.ae1{
    padding-right: 15px;
    padding-left: 5px;
    max-width: 680px;
}
.head-box{
    padding-top: 110px;
    padding-bottom: 86px;
    margin: 0 auto;
    max-width: 1366px;
}
.circle-g{
    display: flex;
    margin-right: 247px;
    border-radius: 50%;
    color: #2f968b;
    width: 163px;
    height: 161px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
}
.circle-g span{
    align-self: center;
    margin: auto;
    font-size: 26px;
}
.wf{
    width: 100%;
    position: relative;
    overflow: hidden
}
.mw {
    max-width: 679px;
}
.mw1 {
    max-width: 860px;
}
.mw2{
    max-width: 606px;
}
.mw3{
    max-width: 740px;
    padding-right: 30px;
    min-width: 0;
}
.mw4{
    max-width: 630px;
}
.fz1{
    font-size: 20px;
}
.fz2{
    font-size: 19px;
}
.fz3{
    font-size: 21px;
}
.home-3 .wraper{
    max-width: 1366px;
    margin: 0 auto;
    padding-top: 10px;
}
/* Header */

header{
    width: 100%;
    background-color: white;
    max-height: 75px;
    padding-bottom: 10px;
    border-bottom: 5px solid #5bb7e9;
    position: fixed;
    z-index: 10;
}
.header-m{
    padding-bottom: 0;
}
.logo{
    max-width: 176px;
    max-height: 40px;
    flex-basis: 20%;
    padding-right: 2%;
}

header nav{
    max-width: 1366px;
    margin: 0 auto;
    padding-top: 20px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header ul{
    width: 76%;
    display: flex;
    max-width: 1100px;
    justify-content: space-around;
    font-size: 19px;
    margin: 0;
    list-style-type: none;
    align-self: center;
}
.headerUL-m{
    display: none;
}
header ul a{
    font-family: 'SegoeUI-Semibold';
    text-decoration: none;
    color: black;
}

/* Header */

.a1h1{
    font-size: 34px;
}

.a1sp{
    text-align: center;
    /* display: block; */
    line-height: 1.4;
    max-width: 290px;
}
.a1head-d{
    max-width: 686px;
    margin: 0 auto;
    text-align: right;
    padding-top: 10px;
    line-height: 1.8;
}
main{
    margin: 0;
    object-fit: contain;
    box-shadow: 125px 40px 112px 54px rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(70deg, #2369ae, #181b25);
    
}
.hero-flex{
    display: flex;
    justify-content: space-between;
}
.p-homeendfr{
    font-size: 21px;
    color: white;
    font-family: 'SegoeUI';
    max-width: 619px;
    line-height: 1.7;
    padding-top: 30px;
}


footer span{
    color:#fff;
}
address{
    font-family: 'SegoeUI-bold';
    padding:  0px 7px;;
    border: 2px solid white;
    background: #4a90e2;
    position: relative;
    text-align: center;
    max-width: 460px;
    font-style: normal;
    margin: 0 auto;
    width: 467px;
    height: 28px;
    line-height: 31px;
    border-radius: 14px;
    box-shadow: 0 2px 4px 0 #00000033, 0 1px 10px 0 #0000001e, 0 4px 5px 0 #00000023;
    margin-top: -40px;
}

address a{
    color: #f7b734;
    text-decoration: none;
}
.active{
    color: brown;
}


.sprite {
    background-size: 100%;
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-low-interest{
    transform: translate(15px,-42px);
    width: 83px;
    height: 76px;
    background-position: -3px -2px;
}

.sprite-money-amounts {
    transform: translate(15px,-38px);
    position: relative;
    left: 8px;
    width: 88px;
    height: 84px;
    background-position: -3px -87px;
}

.sprite-safe-loan {
    transform: translate(7px,-48px);
    left: 11px;
    width: 85px;
    height: 78px;
    background-position: -3px -170px;
}

.sprite-short-time {
    transform: translate(15px,-41px);
    width: 90px;
    height: 83px;
    background-position: -3px -266px;
}

.home-wrap-icons{
    display: flex;
    flex-wrap: wrap;
    max-width: 1366px;
    margin: 0 auto;
    justify-content: space-evenly;
    padding-top: 100px;
}
.home-wrap-icons .wrap-box{
    font-family: SegoeUI;
    text-align: center;
    max-width: 300px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.home-wrap-icons i.sprite{
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}
.home-wrap-icons .wrap-box span{
    color: #f7b734;
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}
.home-wrap-icons .wrap-box p{
    font-size: 18px;
}
.head-box-home h1{
    font-family: SegoeUI-Semibold;
    color: #92cac5;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
}

.head-box-home .hfb{
    font-family: 'SegoeUI';
    font-weight: 100;
    color: #f7b734;
    display: block;
}
.head-box-home .a1vicon{
    padding-left: 8px;
    color: #92cac5;
}


.shape div{
  width: 103px;
  height: 132px;
  border-radius: 63.5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
}

.icons-home {
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.icons-home svg{
    width: 60px;
    align-self: center;
    margin: auto;
    height: inherit;
}
.icons-home div {
    display: flex;
    width: 103px;
    height: 132px;
    border-radius: 63.5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
}

.wr {
    display: flex;
    position: relative;
    overflow: hidden;
    padding-bottom: 40px;
}


.shape {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    background-color: #2178d3;
    position: absolute;
    left: -703px;
    top: 9%;
    width: 1000px;
    height: 690px;
    border-radius: 50%;
}

.home-3{
    width: 100%;
    background-image: linear-gradient(67deg, #2369ae, #181c27, #181b25);
    padding-top: 60px;
}

.home-3a{
    padding-bottom: 190px;
}
.circle-m span{
    color: #2f968b;
    align-self: center;
    margin: auto;
    font-size: 26px;
}

.circle-m {
    filter: drop-shadow(0px 0px 20px rgba(0,0,0,0.44));
    -webkit-filter: drop-shadow(0px 0px 20px rgba(0,0,0,0.44));
    -moz-filter: drop-shadow(0px 0px 20px rgba(0,0,0,0.44));
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 131.18 101.6'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M66.9,0c14.2.35,29.45,1.45,43.84,7.61S131.51,23.7,131.16,39.2c-.69,30.93-24.26,56.66-56.46,61.65C36.24,106.8.55,76.64,0,38-.2,23.52,6.68,14,19.32,8.15,30.85,2.78,47.3,0,66.9,0Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    line-height: 126px;
    font-size: 26px;
    color: #2f968b;
    text-align: center;
    font-family: 'SegoeUI-bold';
    position: relative;
    z-index: 1;
/*
    border-radius: 47% 47% 57% 57%;
    display: flex;
    width: 163px;
    height: 126px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    margin-right: 110px
*/
}

.circle-a{
    margin-right: 147px;
    width: 163px;
    height: 126px;
    bottom: 30px;
}
.active a{
    color: #ee7f35;
    font-weight: 600;
}
#hamburger{
    margin-right: 14px;
    background: #ebebf9;
    border-radius: 50%;
    padding: 7px;
    margin-bottom: 6px;
}
#hamburger span{
    background: #ee7f35;
    width: 25px;
    height: 4px;
    display: block;
    margin: 5px;
}
.logo-m img{
    width: 160px;
    margin: 0 auto;
    display: block;
}
.ul-mobile-display{
    display: block;
}

#phone-icon{
    margin-top: -3px;
    margin-left: 10px;
    width: 55px;
    height: 55px;
    background-size: 36px;
    background-position: center;
    background-repeat: no-repeat;
    order: 3;
    border-radius: 50%;
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512px' height='512px' viewBox='0 0 348.077 348.077' style='enable-background:new 0 0 348.077 348.077;'%3E%3Cpath d='M340.273,275.083l-53.755-53.761c-10.707-10.664-28.438-10.34-39.518,0.744l-27.082,27.076c-1.711-0.943-3.482-1.928-5.344-2.973c-17.102-9.476-40.509-22.464-65.14-47.113c-24.704-24.701-37.704-48.144-47.209-65.257c-1.003-1.813-1.964-3.561-2.913-5.221l18.176-18.149l8.936-8.947c11.097-11.1,11.403-28.826,0.721-39.521L73.39,8.194C62.708-2.486,44.969-2.162,33.872,8.938l-15.15,15.237l0.414,0.411c-5.08,6.482-9.325,13.958-12.484,22.02C3.74,54.28,1.927,61.603,1.098,68.941C-6,127.785,20.89,181.564,93.866,254.541c100.875,100.868,182.167,93.248,185.674,92.876c7.638-0.913,14.958-2.738,22.397-5.627c7.992-3.122,15.463-7.361,21.941-12.43l0.331,0.294l15.348-15.029C350.631,303.527,350.95,285.795,340.273,275.083z' fill='%23ee7f35'/%3E%3C/svg%3E");
}

::placeholder {
    color: #c9c7c7;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #c9c7c7;
}

::-ms-input-placeholder {
    color: #c9c7c7;
}
main form{
    opacity: 1;
    top: 0;
    width: 100%;
    position: relative;
    max-width: 280px;
    box-sizing: border-box;
    max-height: 460px;
    margin: 0 30px 70px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), 0 1px 10px 0 rgba(0,0,0,.12), 0 4px 5px 0 rgba(0,0,0,.14);
    background-color: #283564;
    transition: all 890ms cubic-bezier(0.41, 0.67, 0.1, 1.09);
    transition-delay: 60ms;
    z-index: 9;
    border: 1px solid white;
}
main form .form-wrap{
    width: 95%;
    margin: 20% auto;
}
main form h3{
    color: #92cac5;
    font-family: 'SegoeUI';
    text-align: center;
    margin: 0 auto;
    font-size: 23px;
    padding-bottom: 22px;
    margin-bottom: 20%;
    line-height: 1.5;
}
main form h3 span{
    display: block;
    font-size: 15px;
    color: #ef7f35;
    top: 6px;
    position: relative;
}

main form .form-inp{

    color: white;
    font-family: 'SegoeUI';
    outline: none;
    border: none;
    border-bottom: 1px #92cac5 solid;
    background-color: transparent;
    display: block;
    width: 84%;
    margin: 0 auto;
    padding-bottom: 5px;
    color: white;
    margin-bottom: 17%;
}
main form .form-sub{
    outline: none;
    border: none;
    background-color: #92cac5;
    font-family: 'SegoeUI-Semibold';
    width: 86%;
    margin: 0 auto;
    padding: 0;
    display: block;
    height: 38px;
    margin-top: 33%;
}
.home-wrap-icons form {
    right: 0;
}
.home-wrap-icons form.form-h-move{
    right: 32%;
    top: 610px;
}

.footer-form{
    position: fixed;
    bottom: 0px;
    background: linear-gradient(to bottom, #1d4b5d, #181b25);    width: 100%;
    height: 90px;
    border-top: 3px solid #5bb7e9;
    z-index: 100;   
}
input.ff-inp{
    width: 27%;
    font-family: 'SegoeUI';
    outline: none;
    border: none;
    border-bottom: 1px #92cac5 solid;
    background-color: transparent;
    color: white;
}
.ff-wrp-inp{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    max-width: 750px;
    margin: 0 auto;
}
input.ff-sub{
    outline: none;
    min-width: 100px;
    border: none;
    background-color: #92cac5;
    font-family: 'SegoeUI-Semibold';
    width: 35%;
    height: 40px;
    margin-top: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
}
#alert{
    position: fixed;
    left: 10px;
    bottom: 10px;
    font-family: 'Segoeui-semibold';
    width: 340px;
    z-index: 120;
    height: 51px;
    color: #2d2c2c;
    border: 1px #ffffff;
    border-radius: 4px;
    border-style: solid;
    line-height: 51px;
    text-align: center;
}
.a1-box-icon{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.a1-wrp-icons{
    width: 72px;
    height: 40px;
    margin: 0 auto;
}
.ffp{
    color: #92cac5;
    font-family: 'Segoeui-semibold';
    text-align: center;
    padding-bottom: 7px;
    padding-top: 5px;
}

@media only screen and (max-width: 1320px)  {
    .icons-home{
        display: none;
    }
    .home-wrap-icons{
        justify-content: space-between;
    }

    .shape{
        left: -794px;
    }
    .p-homeendfr{
        padding-left: 5px;
    }
    .mw3{
        padding-left: 5px;
    }
}

.copyright{
    margin-right: auto;
    margin-top: -27px;
    direction: ltr;
    transform: translateX(6px);
    border: 1px solid #000000;
    width: 21px;
    height: 19px;
    background-color: #92cac5;
    border-radius: 50%;
    display: flex;
    just\]ify-content: left;
    text-indent: 3px;
    transition: width,border-radius,cubic-bezier(0,0,.2,1) .3s 130ms;
}
.copyright a{
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    transition: opacity,cubic-bezier(0,0,.2,1) .3s 130ms;
    align-self: center;
    font-size: 20px;
}
.copyright a span{
    padding-left: 1px;
    opacity: 0;
    transition: opacity,width,border-radius,cubic-bezier(0,0,.2,1) .3s 130ms;
    position: relative;
    top: -3px;
    font-size: 11px;
    font-weight: 700;
    font-family: fantasy;
    color: white;
}
.copyright:hover{
    width: 238px;
    border-radius: 20px;
    opacity: 1;
}
.copyright:hover a span{
    opacity: 1;
    font-size: 10px;
    color: #282a31;
}
@media only screen and (max-width: 1050px)  {
    .head-box-home{
        padding-top: 80px;
    }
    header nav{
        padding-top: 5px;
    }
    header ul a{
        color: #2f55b4;
    }
    header ul li{
        padding: 15px 40px;
        
    }
    header ul{
        flex-direction: column;
        order: 3;
        width: 100%;
        display: none;
        background-color: white;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .logo{
        order: 2;
        align-self: center;
        padding: 0;
        flex-basis: unset;
    }
    address{
        margin-top: -130px;
    }
    .copyright{
        display: none;
    }
}
@media only screen and (max-width: 939px)  {
    

    .head-box-home h1{
        font-size: 24px;
    }
    .home-wrap-icons{
        justify-content: space-around;
    }
    main form{
        order: 3;
    }
    .shape{
        opacity: 0.2;
    }
    .a1-box-icon{
        justify-content: unset;
    }
    .home-wrap-icons .wrap-box{
        width: 48%;
        width: 48%;
    }
    .sprite{
        background-size: 90%;
    }
    .sprite-low-interest {
        height: 44px;
        width: 53px;
        background-position: -3px -1px;
        position: relative;
        left: 12px;
        transform: translate(0,-20px);
    }
    .sprite-safe-loan {
        width: 53px;
        height: 44px;
        transform: translate(0, -20px);
        background-position: -0px -95px;
    }
    .sprite-short-time{
        bottom: 10px;
        transform: translate(8px,-13px);
        position: relative;
        height: 63px;
        width: 56px;
        background-position: -3px -148px;
    }
    .sprite-money-amounts {
        height: 47px;
        transform: translate(0px,-21px);
        width: 54px;
        background-position: -3px -49px;
    }    
}
@media only screen and (max-width: 800px)  {
    .a1h1{
        font-size: 31px;
    }
    .a1head-d{
        max-width: 623px;
    }
    
}
@media only screen and (max-width: 680px)  {
    .a1h1{
        font-size: 26px;
    }
    .a1head-d{
        max-width: 526px;
    }
    .circle-g{
        margin: 0 auto;
    }

    .blhome1:after{
        width: 40%;
    }
    .blhome2::after {
        width: 65%;
    }
    .blhome3::after {
        width: 90%
    }
}
@media only screen and (max-width: 625px)  {
    .home-wrap-icons .wrap-box{
        max-width: 300px;
        text-align: center;
        font-family: 'SegoeUI';
        color: white;
        min-height: 338px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    
}
@media only screen and (max-width: 537px)  {

    
    
    .head-box-home h1{
        font-size: 21px;
        text-align: right;
        line-height: 42px;
        padding-right: 15px;
        padding-left: 5px;
    }
    .a1h1{
        font-size: 23px;
    }
    
    .home-wrap-icons{
        padding-top: 39px;    
    }
    .mw3{
        padding-right: 5px;
    }
    .circle-a{
        margin: 0 auto;
    }
    .lihome1{
        padding-right: 15px;
    }
}
@media only screen and (max-width: 500px)  {
    .home-wrap-icons{
        justify-content: space-between;
    }
    main form{
        margin-right: auto;
        margin-left: auto;
    }

    address{
        width: 402px;
        font-size: 14px;
        height: 22px;
        line-height: 25px;
    }

}
@media only screen and (max-width: 450px)  {
    .head-box-home h1 .a1head-sp{
        display: block;
        width: 290px;
        text-align: center;    
    }
}
@media only screen and (max-width: 427px)  {

    .head-box-home h1{
        font-size: 21px;
    }
    .home-wrap-icons .wrap-box{
        width: 165px;
    }
    address{
        width: 353px;
        font-size: 12px;
        height: 18px;
        line-height: 20px;
        padding: 0;
    }
}